---
export const prerender = true;

import type { GetStaticPaths, Page } from "astro";
import type { CollectionEntry } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getPosts, getUniqueTags, sortPostsByDate } from "@/utils/posts";
import PostPreview from "@/components/PostPreview.astro";
import Paginator from "@/components/Paginator.astro";
import { useTranslate, getActiveLanguages } from "@/i18n/utils";
import { defaultLang, type Languages } from "@/i18n/ui";

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const languages = getActiveLanguages();
  const paths: any[] = [];

  for (const lang of languages) {
    const allPosts = await getPosts({ lang });
    const allPostsByDate = sortPostsByDate({ elements: allPosts });
    const uniqueTags = getUniqueTags(allPostsByDate);

    for (const tag of uniqueTags) {
      const filterPosts = allPostsByDate.filter((post) =>
        post.data.tags?.includes(tag)
      );
      const paginated = paginate(filterPosts, {
        pageSize: 10,
        params: { lang: lang === defaultLang ? undefined : lang, tag },
      });
      for (const page of paginated) {
        paths.push({
          ...page,
          props: { ...page.props, lang },
        });
      }
    }
  }

  return paths;
};

interface Props {
  page: Page<CollectionEntry<"blog">>;
  lang: Languages;
}

const { page, lang } = Astro.props;
const { tag } = Astro.params;
const t = useTranslate(lang);
const tagName: string = String(tag ?? '');

const meta = {
  description: t('tags.tagDescription').replace('{tag}', tagName),
  title: t('tags.tagTitle').replace('{tag}', tagName),
};

const paginationProps = {
  ...(page.url.prev && {
    prevUrl: {
      text: t('tags.previous'),
      url: page.url.prev,
    },
  }),
  ...(page.url.next && {
    nextUrl: {
      text: t('tags.next'),
      url: page.url.next,
    },
  }),
};
---

<BaseLayout {...meta}>
  <div class="w-full">
    <a title="Back" href="javascript:history.back()" class="inline-flex items-center gap-1">
      <i aria-label="Go back" i-ri-arrow-go-back-line></i>
    </a>
    <h1 class="mb-6 mt-5 flex items-end gap-x-2 text-2xl font-bold">
      Tags:
      <span class="text-xl">#{tag}</span>
    </h1>
    <section aria-label="Blog post list">
      <ul class="flex flex-col gap-y-3 text-start">
        {page.data.map((p) => <PostPreview as="h2" post={p} withDesc />)}
      </ul>
      <Paginator {...paginationProps} />
    </section>
  </div>
</BaseLayout>
