---
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { PAGE_KEY, type CollectionPages } from "@/types";
import { getPosts } from "@/utils/posts";
import { defaultLang } from "@/i18n/ui";

export async function getStaticPaths() {
  const pages = await getPosts({collection: PAGE_KEY, withDrafts: true, withUnlisted: true});
  const returnedPages = pages.map((page: any) => {
    return {
      params: { slug: page.slug },
      props: { page },
    };
  });
  console.log(
    `SLUG ROUTER EN: Returning localized page: ${returnedPages.map(p=>'\n---> '+p.props.page.slug)}`
  );
  return returnedPages;
}

type Props = { page: CollectionPages };

const { page } = Astro.props;
const { title, description, image } = page.data;

const { Content } = await page.render();
---

<BaseLayout title={title} description={description}>
  <article class="prose">
    <h1>{title}</h1>
    {
      image && (
        <p>
          <img width="640" height="360" src={image.src} alt={image.alt || ""} />
        </p>
      )
    }
    <Content />
  </article>
</BaseLayout>
