---
import { Languages, TranslationKeys } from "@/i18n/ui";
import { getLangFromUrl, translatePath, useTranslate } from "@/i18n/utils";
import { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
  fileName: string;
  description?: TranslationKeys;
  lang?: Languages;
}
const { fileName, lang, description, ...rest } = Astro.props;
const currentLang = getLangFromUrl(Astro.url);
const translate = useTranslate(lang ?? currentLang);
---

<a
  href={translatePath(`/files/${fileName}`, lang ?? currentLang)}
  download
  class="btn-download px-9 py-6"
  {...rest}
>
  {translate("downloadButton.title")}{
    ` ${description ? translate(description) : fileName}`
  }

  <style>
    .btn-download {
      background-color: #380541;
      color: #ffffff !important;
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s;
      transition: color 0.3s;
    }
    .btn-download:hover {
      color: #380541 !important;
      background-color: #ffffff;
    }
  </style>
</a>
