---
import type { HTMLAttributes } from "astro/types";
import { Image } from "astro:assets";

type Props = HTMLAttributes<any> & {
  img: ImageMetadata;
  alt: string;
};
const { img, alt } = Astro.props;

const spanClasses = `
aspect-ratio-square relative inline-block b-rd-full overflow-hidden
border-18 border-hex-ffffff border-dashed
before:(content-empty absolute inset-0 b-rd-full border-6 border-hex-ffffff z-1)
after:(content-empty absolute inset-0 b-rd-full border-4 border-hex-380541 z-1)`;

const imgClasses = `important-m-0 w-full h-full b-rd-full`;
---

<span {...Astro.props} bg-hex-380541 b-rd-full p-1>
  <span class={spanClasses}>
    <Image src={img} alt={alt} class={imgClasses} />
  </span>
</span>
