---
import BaseLayout from "@/layouts/BaseLayout.astro";
import siteConfig from "@/site-config";
import PokerPic from "@/components/PokerPic.astro";

---

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <div class="markdown-heading" dir="auto">
      <h1 class="heading-element" dir="auto">Hello, there!</h1>
    </div>
    <div class="markdown-heading" dir="auto">
      <h2 class="heading-element" dir="auto" text-nowrap>👨&zwj;💻 About Me</h2>
    </div>
    <PokerPic
      src="/img/me.jpg"
      alt="Alessio Corsi a.k.a. Fulgidus with suspenders"
      class="flex m-x-auto w-50% sm-w-33% aspect-ratio-square m-2 sm-float-end clear-both"
    />
  </article>
</BaseLayout>
