---
import { fade } from "astro:transitions";
import { ViewTransitions } from "astro:transitions";
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";
import ScrollToTop from "@/components/ScrollToTop.vue";
import { getLangFromUrl } from "@/i18n/utils";
interface Props {
  title?: string;
  description?: string;
  imageSize?: string;
  image?: { src: string; alt?: string };
  pageType?: "website" | "article";
  pageNav?: boolean;
  pageOperate?: boolean;
}
const { ...head } = Astro.props;
const { imageSize } = Astro.props;

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
  <head>
    <BaseHead {...head} />
    <ViewTransitions />
  </head>
  <body class="bg-main text-main min-h-screen font-sans w-full bg-dot">
    <Header client:only="vue" />
    <main
      class=`grow ${imageSize === 'xl' ? 'max-w-100vw':'max-w-4xl'} mx-auto sm:pt-36 pt-26 pb-16 px-6 relative important:print:max-w-100vw important:print:p0`
      transition:animate={fade({ duration: "0.4s" })}
      text-pretty
    >
      <slot />
      <ScrollToTop client:only="vue" />
      <div class="max-w-4xl mx-auto sm:pt-36 pt-26 pb-16 px-6 relative">
        <Footer />
      </div>
    </main>
  </body>
</html>
